/*Início configurações padrão*/
:root {
    --cor-light: #f8f9fa;
    --cor-dark: #343a40;
    --corA: #41A35E;
    --corB: #2b1a3f;
    --corC: #78F09B;
    --corD: #F0B460;
    --corE: #A37636;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-title: 'Android', cursive
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */  
  }
  
body::-webkit-scrollbar-track {
    background: var(--cor-light);        /* color of the tracking area */ 
}

body::-webkit-scrollbar-thumb {
background-color: var(--corB);    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 3px solid var(--cor-light);  /* creates padding around scroll thumb */
}

header {
    background: var(--corB) url('../img/capa.png') top center no-repeat;
    background-size: 100% 80%;
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.396);    
    width: 100%;
    height: 450px;
    opacity: 0.95;
    position: relative;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

main {
    background-color: var(--cor-light);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);   
    padding: 30px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title {
    font-size: 1.4rem;
    color: var(--corB);
    border-bottom: 1px solid var(--corA);
    margin-bottom: 15px;
}   

footer {
    text-align: center;
    margin-top: 30px;
    height: 95px;
    background-color: var(--corB);
    line-height: 95px;
    box-shadow: 2px -5px 6px rgba(43, 26, 63, 0.366);    
    color: var(--cor-light);
}
/*Fim configurações padrão*/

/*Início configurações header*/
/* Início div logo */
.logo {
    position: relative;
    top: 308px;
    margin-left: 10%;
    flex-direction: column;
    display: flex;
}

.logo img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.logo h1 {
    color: var(--corE);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.265);
    font-size: 1.8rem;
}
/* Fim div logo */
/* Início div socials */
.socials {
    text-align: right;
    margin-right: 30px;
    margin-top: -15px;
}

.socials ul li {
    list-style: none;
    line-height: 30px;
}

.socials ul li i {
    font-size: 30px; 
    cursor: pointer; 
    color: var(--corC);
    transition: 0.8s;
}

.socials ul li i:hover {
    transition: translate(-5px,-5px);
    font-size: 35px;    
    color: var(--corA);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.517);
    transition: 0.5s;
}
/* Fim div socials */
/*Fim configurações header*/

/* Início configuração section sobre */
.sobre {
    padding: 10px 20px;
    background-color: var(--corD);
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.396);  
    border-radius: 15px;
    margin-bottom: 30px;
}

.sobre h2 {
    font-size: 1.4rem;
}

.sobre p {
    font-size: 0.9rem;
}
/* Final configuração section sobre */

.habilidades {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
}

.box {
    background-color: var(--corB);
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.396);
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 8px 12px;
}

.box h3 {
    font-size: 1.1rem;
    cursor: pointer;
    text-align: center;
    color: var(--corD);
    transition: 0.8s;
}

.box h3:hover {
    text-decoration: underline;
}

#comunicacao,
#flexivel,
#equipe,
#criatividade {
    font-size: 0.8rem;
    margin-top: 5px;
    color: var(--cor-light);
    background-color: var(--corB);
    text-align: center;
    height: 85px;
    width: 100%;
    display: none;
}
/* Fim configuração section soft-skills */

/* Início configuração section hard-skills */
.linguagens {
    display: flex;
    flex-direction: column;
    height: 800px;
}

.box-html,
.box-css,
.box-javascript,
.box-git
{
    border-radius: 25px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.396);
    margin: 25px auto; 
    background-size: cover;
    max-width: 640px;
    width: 80%;
    height: 360px;
}

.box-html {
    background: url("../img/fundohtml.jpg") no-repeat;
}

.box-css {
    background: url("../img/fundocss.jpg") no-repeat;
}

.box-javascript {
    background: url("../img/fundojs.jpg") no-repeat;
}

.box-git {
    background: url("../img/fundogit.jpg") no-repeat;
}      

.box-html > img,
.box-css > img,
.box-javascript > img,
.box-git > img{
    background-color: var(--cor-light);
    top: 5px;
    left: 5px;
    position: absolute;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    z-index: 1;
}

.box-html h3,
.box-css h3,
.box-javascript h3,
.box-git h3{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: var(--cor-dark);
    color: var(--cor-light);
    text-align: center;
}
/* Fim configuração section hard-skills */

/* Início configuração section redes */
section.redes{
    padding: 30px 5px;
    overflow-x: hidden;
    background-color: var(--corC);
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.396);
    border-radius: 15px;
}

section.redes h2{
    margin: 18px 0;
    font-size: 2.2rem;
    text-align: center;
    color: var(--corB);
    border: 1px solid var(--corB);
    background-color: var(--corA);
}

.telefone {
    height: 544px;
    width: 270px; 
    margin: 0 auto;  
    background: url('../img/frame-iphone.png');
}

iframe#tela {
    position: relative;
    top: 70px;
    left: 20px;
    width: 231px;
    height: 408px;
}

.redes-sociais {
    text-align: center;
}

.redes-sociais img {
    width: 45px;
    margin: 18px 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.401);
    transition: 0.5s;
    box-sizing: border-box;
}

.redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.48);
    width: 46px;
    transform: translate(1px,1px);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.561);
}
/* Fim configuração section redes */

@media screen and (min-width: 992px) {
    /* Início div logo */
    .logo {
        top: 275px;
    }

    .logo img {
        width: 120px;
        height: 120px;
    }

    .logo h1 {
        font-size: 2rem;
    }
    /* Final div logo */

    .socials {
        margin-top: -110px;
    }

    /* Início div socials */
    .socials ul li {
        line-height: 40px;
    }
    
    .socials ul li i {
        font-size: 40px; 
    }
    
    .socials ul li i:hover {
        transition: translate(-10px,-10px);
        font-size: 45px;    
    }
    /* Fim div socials */

    /* Início section soft-skills */
    .habilidades {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        max-width: 100%;
    }

    .box {
        margin: 15px 10px;  
        width: 460px;
        text-align: center;
    }

    .soft-skills h2,
    .hard-skills h2 {
        font-size: 1.7rem;
    } 
    /* Fim section soft-skills */  

    /* Início section hard-skills */
    .linguagens {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 5px;
    }

    .box-html { 
        grid-area: 1 / 2 / 2 / 3; 
        margin: 80px 0 0 0;
        width: 400px;
        height: 280px;
    }
    .box-css { 
        grid-area: 1 / 3 / 2 / 4; 
        margin: 80px 0 0 0;
        width: 400px;
        height: 280px;
    }
    .box-javascript { 
        grid-area: 2 / 3 / 3 / 4; 
        margin-top: 0;
        margin-bottom: 100px;
        width: 400px;
        height: 280px;
    }
    .box-git { 
        grid-area: 2 / 2 / 3 / 3; 
        margin-top: 0;
        width: 400px;
        height: 280px;
    }
    /* Fim section hard-skills */

    /* Início section redes */
    section.redes h2{
        font-size: 3rem;
    }
    /* Fim section redes */
}






